.mstheme     { nav-banner-image: url(afolbanr.gif); separator-image: url(afolrule.gif); 
               list-image-1: url(afolbul1.gif); list-image-2: 
               url(afolbul2.gif); list-image-3: url(afolbul3.gif); 
               navbutton-horiz-pushed: url(afolhsel.gif); 
               navbutton-horiz-normal: url(afolhbtn.gif); 
               navbutton-horiz-hovered: url(afolhhov.gif); 
               navbutton-vert-pushed: url(afolvsel.gif); 
               navbutton-vert-normal: url(afolvbtn.gif); 
               navbutton-vert-hovered: url(afolvhov.gif); 
               navbutton-home-normal: url(afolhom.gif); 
               navbutton-home-hovered: url(afolhomh.gif); 
               navbutton-home-pushed: url(afolhom.gif); navbutton-up-normal: 
               url(afolup.gif); navbutton-up-hovered: url(afoluph.gif); 
               navbutton-up-pushed: url(afolup.gif); navbutton-prev-normal: 
               url(afolbck.gif); navbutton-prev-hovered: url(afolbckh.gif); 
               navbutton-prev-pushed: url(afolbck.gif); 
               navbutton-next-normal: url(afolnxt.gif); 
               navbutton-next-hovered: url(afolnxth.gif); 
               navbutton-next-pushed: url(afolnxt.gif) }
.mstheme-bannertxt { font-family: Arial, Arial, Helvetica; font-size: 6; color: rgb(0,0,0) }
.mstheme-horiz-navtxt { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0) }
.mstheme-vert-navtxt { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0) }
.mstheme-navtxthome { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
.mstheme-navtxtup { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
.mstheme-navtxtprev { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
.mstheme-navtxtnext { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
ul           { list-style-image: url('afolbul1.gif') }
ul ul        { list-style-image: url('afolbul2.gif') }
ul ul ul     { list-style-image: url('afolbul3.gif') }
a:link       { color: rgb(102,102,153) }
a:visited    { color: rgb(153,51,102) }
a:active     { color: rgb(204,153,0) }
body         { color: rgb(0,0,0); background-color: rgb(204,204,153) }
h1           { color: rgb(102,0,102) }
h2           { color: rgb(102,0,102) }
h3           { color: rgb(102,0,102) }
h4           { color: rgb(102,0,102) }
h5           { color: rgb(102,0,102) }
h6           { color: rgb(102,0,102) }
button       { background-color: rgb(102,0,102); color: white; border-color: rgb(153,153,153) }
label, .MSTHEME-LABEL { color: rgb(0,0,0) }
textarea     { color: black; border-color: rgb(102,0,102) }
fieldset     { color: black; border-color: rgb(102,0,102) }
legend       { color: rgb(102,0,102) }
select       { color: black; border-color: rgb(102,0,102) }
table        { table-border-color-light: rgb(153,153,153); table-border-color-dark: 
               rgb(102,0,102); color: rgb(0,0,0); border-color: rgb(102,0,102) }
caption      { color: rgb(102,0,102) }
th           { color: rgb(0,0,0) }
hr           { color: rgb(102,0,102) }
td           { border-color: rgb(102,0,102) }
.mstheme-bannertxt a:active { color: rgb(0,0,0) }
.mstheme-bannertxt a:link { color: rgb(0,0,0) }
.mstheme-bannertxt a:visited { color: rgb(0,0,0) }
.mstheme-bannertxt-g { font-family: Arial, Arial, Helvetica; font-size: 6; color: rgb(0,0,0); 
               background-image: url('folbanr.gif') }
.mstheme-bannertxt-g a:active { color: rgb(0,0,0) }
.mstheme-bannertxt-g a:link { color: rgb(0,0,0) }
.mstheme-bannertxt-g a:visited { color: rgb(0,0,0) }
.mstheme-bannertxt-s { font-family: Arial, Arial, Helvetica; font-size: 6; color: rgb(0,0,0) }
.mstheme-bannertxt-s a:active { color: rgb(0,0,0) }
.mstheme-bannertxt-s a:link { color: rgb(0,0,0) }
.mstheme-bannertxt-s a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('folhbtn.gif') }
.mstheme-horiz-navtxt-g a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('folhsel.gif') }
.mstheme-horiz-navtxt-gs a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(0,0,0) }
.mstheme-navtxthome a:active { color: rgb(0,0,0) }
.mstheme-navtxthome a:link { color: rgb(0,0,0) }
.mstheme-navtxthome a:visited { color: rgb(0,0,0) }
.mstheme-navtxthome-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('folhom.gif') }
.mstheme-navtxthome-g a:active { color: rgb(0,0,0) }
.mstheme-navtxthome-g a:link { color: rgb(0,0,0) }
.mstheme-navtxthome-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtnext a:active { color: rgb(0,0,0) }
.mstheme-navtxtnext a:link { color: rgb(0,0,0) }
.mstheme-navtxtnext a:visited { color: rgb(0,0,0) }
.mstheme-navtxtnext-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('folnxt.gif') }
.mstheme-navtxtnext-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtnext-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtnext-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtprev a:active { color: rgb(0,0,0) }
.mstheme-navtxtprev a:link { color: rgb(0,0,0) }
.mstheme-navtxtprev a:visited { color: rgb(0,0,0) }
.mstheme-navtxtprev-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('folbck.gif') }
.mstheme-navtxtprev-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtprev-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtprev-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtup a:active { color: rgb(0,0,0) }
.mstheme-navtxtup a:link { color: rgb(0,0,0) }
.mstheme-navtxtup a:visited { color: rgb(0,0,0) }
.mstheme-navtxtup-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('folup.gif') }
.mstheme-navtxtup-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtup-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtup-g a:visited { color: rgb(0,0,0) }
.mstheme-topbar-font a:active { color: rgb(0,0,0) }
.mstheme-topbar-font a:link { color: rgb(0,0,0) }
.mstheme-topbar-font a:visited { color: rgb(0,0,0) }
.mstheme-topbar-font-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('folglobl.gif') }
.mstheme-topbar-font-g a:active { color: rgb(0,0,0) }
.mstheme-topbar-font-g a:link { color: rgb(0,0,0) }
.mstheme-topbar-font-g a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('folvbtn.gif') }
.mstheme-vert-navtxt-g a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('folvsel.gif') }
.mstheme-vert-navtxt-gs a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(0,0,0) }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(folglobl.gif) }
.mstheme-topbar-font { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
body         { font-family: Arial, Arial, Helvetica; background-image: url('folbkgnd.jpg') }
h1           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 24pt }
h2           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 18pt }
h3           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 14pt }
h4           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 12pt }
h5           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 10pt }
h6           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 8pt }
button       { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
label, .MSTHEME-LABEL { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal }
textarea     { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
fieldset     { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
legend       { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal }
select       { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
table        { font-family: Arial, Arial, Helvetica; font-style: normal }
caption      { font-size: 14pt; font-family: Arial, Arial, Helvetica; font-style: normal }
th           { font-family: Arial, Arial, Helvetica; font-style: normal }
marquee      { font-size: 14pt; font-family: Arial, Arial, Helvetica }
